.app__aboutus {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
background-color: var(--color-black);
}

.app__aboutus-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app__aboutus-overlay img {
    width: 70rem;
    height: 40rem;
    z-index: 0;
    opacity: 0.1;
 padding-top: 4rem;

}
.headText{
    color:#d9a93f ;
    font-size: 30px;
    line-height: 71px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}

.app__aboutus-content {
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app__aboutus-content_about {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.app__aboutus-content_history {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
    margin: 2rem 0;
    color: var(--color-grey);
}

@media screen and (min-width: 2000px) {

    .app__aboutus-content_about p,
    .app__aboutus-content_history p {
        margin: 4rem 0;
    }
}
@media screen and (max-width:   1050px) {

     .app__aboutus-overlay img {
        width: 53rem;
        height: 51.5rem;
        padding-top: 4rem;
    }
     
}

@media screen and (max-width: 900px) {
    .app__aboutus-content {
        flex-direction: column;
    }
}
@media screen and (max-width: 850px) {
     .app__aboutus-overlay img {
        width: 41rem;
        height: 33rem;
        padding-top: 4rem;
    }
     
}

@media screen and (max-width: 650px) {
    .app__aboutus-overlay img {
        width: 340px;
        height: 600px;
        padding-top: 4rem;
    }
}

@media screen and (max-width: 400px) {
    .app__aboutus-overlay img {
        width: 310px;
        height: 680px;
        padding-top: 4rem;
    }
}
@media screen and (max-width: 350px) {
    .app__aboutus-overlay img {
        width: 260px;
        height: 765px;
        padding-top: 4rem;
    }

}